@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    src: url("/fonts/Poppins-ExtraLight.woff2") format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
  }

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    --clr-neutral-darkblue: hsl(234, 12%, 34%);
    --clr-neutral-grayblue: hsl(229, 6%, 66%);
    --clr-neutral-lightgray: hsl(0, 0%, 98%);

    --fs-base: 0.9375;
    --fw-light: 200;
    --fw-base: 400;
    --fw-semibold: 600;
  }

  /*
   * CSS Reset from Kevin Powell - https://codepen.io/kevinpowell/pen/abMdOpp
   */
  /* makes sizing simpler */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* remove default spacing */
  /* force styling of type through styling, rather than elements */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  /* dark mode user-agent-styles */
  /* improves punctuation in supported browsers */
  html {
    color-scheme: dark light;
    hanging-punctuation: first last;
  }

  /* min body height */
  body {
    min-height: 100svh;
  }

  /* responsive images/videos */
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  /* Improved heading in supported browsers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* improve readability with max-width on paragraphs and lists */
  /* prevent orphans in supported browsers */
  p,
  li {
    max-width: var(--p-max-width, 65ch);
    text-wrap: pretty;
  }

  /* end of reset */

  body {
    font-family: Poppins; 
    font-size: var(--fs-base);
    line-height: 1.5;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-darkblue);
    background: var(--clr-neutral-bluegray);
  }
}
